* {
    box-sizing: border-box;
}

.bg-primary {
    background-color: #f8f8f8 !important;
    border-bottom: 1px solid #e7e7e7 !important;
}

.navbar {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1rem;
}

.navbar-nav {
    display: flex;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

.nav-item {
    flex: 1 1 auto;
    text-align: center;
}